/* ==========================================================================
   Variables
   ========================================================================== */
$color--primary: #ff5a60;
$color--secondary: #303748;
$color--tertiary: #181b22;
$menu-push--width: 280px;

/* ==========================================================================
   Togglemenu push
   ========================================================================== */


/* Contexte de page
   ========================================================================== */
body {
    overflow-x: hidden;

    .page {
        transition: .3s;
    }
    &.is-togglemenu-open {
        .page {
            position: fixed;
            width: 100vw;
            transform: translateX($menu-push--width);
        }
        .togglemenu--push {
            transform: translateX(0);
            box-shadow: -5px 0 24px rgba(#000, .24);
        }
    }
}


/* Menu
   ========================================================================== */
.togglemenu--push {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: $menu-push--width;
    height: 100vh;
    background: #fff;
    overflow: auto;
    overflow-x: hidden;
    transform: translateX(-100%);
    transition: transform .3s;
    box-sizing: border-box;

    .nav-menu {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .nav-item {
        list-style: none;

        a {
            position: relative;
            display: block;
            padding: 20px;
            color: $color--secondary;
        }

        & + .nav-item > a {
            border-top: 1px solid rgba(#000, .1);
        }
    }
    .is-parent {
        > a {
            padding-right: 40px;
        }
    }

    /* Close
   ========================================================================== */
    .togglemenu-close {
        padding: 20px;
        background: $color--tertiary;
        overflow: hidden;

        button { $size: 44px;
            position: relative;
            display: inline-block;
            float: right;
            padding: 0;
            width: $size;
            height: $size;
            color: #fff;
            text-indent: -9999px;
            background: $color--secondary;
            border: 0;
            cursor: pointer;
            transition: background-color .3s;

            &:hover {
                background-color: $color--primary;
            }

            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 50%;
                height: 3px;
                background-color: #fff;
                transform: rotate(45deg) translate(-50%, -50%);
                transform-origin: 0 0;
            }
            &:after {
                transform: rotate(-45deg) translate(-50%, -50%);
            }
        }
    }

    /* Layout accordéon
	   ========================================================================== */
    .l-accordion {
        > .nav-menu {
            padding-left: 20px;
            overflow: hidden;

            > .nav-item {
                > a {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                &:last-of-type {
                    padding-bottom: 10px;
                }

                + .nav-item > a {
                    border: 0;
                }
            }
        }

        > a {
            &:before,
            &:after {
                content: "";
                position: absolute;
                bottom: 48%;
                right: 20px;
                width: 10px;
                height: 2px;
                background: $color--secondary;
                transform: rotate(45deg);
                transform-origin: center -3px;
                transition: .3s;
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
        &.is-active {
            > .nav-menu {
                z-index: 50;
                overflow: visible;
            }
            > a {
                &:before,
                &:after {
                    transform-origin: center 5px;
                }
            }
        }
    }



    /* Layout panel
	   ========================================================================== */
    .l-panel {
        > a {
            &:before,
            &:after {
                content: "";
                position: absolute;
                bottom: 48%;
                right: 20px;
                width: 10px;
                height: 2px;
                background: $color--secondary;
                transform: rotate(45deg);
                transform-origin: right center;
                transition: .3s;
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
        > .nav-menu {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 55;
            width: $menu-push--width;
            height: 100%;
            background: #fff;
            transform: translateX(-100%);
            transition: transform .3s;
        }
        &.is-active {
            > .nav-menu {
                transform: translateX(0);
            }
        }

        /* Header (retour, item de menu courant)
		   ========================================================================== */
        .item-back {
            @extend .togglemenu-close;
            display: flex;
            align-items: center;

            .item-btn {
                flex-shrink: 0;

                &:before,
                &:after {
                    width: 35%;
                    transform-origin: -46% 0;
                }
            }
            .item-title {
                padding-left: 20px;
                color: #fff;
            }
        }
    }
}


/* States
   ========================================================================== */
.is-togglemenu-submenu-open {
    .togglemenu--push {
        overflow: hidden;

        .l-panel > .nav-menu {
            overflow-y: auto;
        }
    }
}